'scopeName': 'source.m'
'name': 'M DGFiP'
'fileTypes': ['m']

'patterns': [
  {
    'name': 'comment.line.m'
    'begin': '#'
    'end': '$'
  },
  {
    'begin': '\\"'
    'end': '\\"'
    'name': 'string.quoted.double.m'
  },
  {
    'match': '\\b([0-9]+)\\b'
    'name': 'constant.numeric.m'
  },
  {
    'match': '\\bX\\b'
    'name': 'constant.language.m'
  },
  {
      'match': '\\b[a-z]\\b'
      'name': 'keyword.parameter.m'
  },
  {
    'match': '^\\s*([A-Z_0-9]+)([a-z]*)([A-Z_0-9]*)\\s*='
    'captures':
        '1':
            'name': 'entity.variable.name.m',
        '2':
            'name': 'keyword.parameter.m',
        '3':
            'name': 'entity.variable.name.m'
  },
  {
      'match': '^\\s*([A-Z_0-9]+)\\s*\\:'
      'captures':
          '1':
              'name': 'storage.declaration.m',
  },
  {
    'match': '\\b([A-Z_0-9]+)([a-z]*)([A-Z_0-9]*)\\b'
    'captures':
        '2':
            'name': 'keyword.parameter.m'
  },
  {
    'match': '\\*'
    'name': 'keyword.operator.m'
  },
  {
    'match': '\\+'
    'name': 'keyword.operator.m'
  },
  {
    'match': '\\/'
    'name': 'keyword.operator.m'
  },
  {
    'match': '\\^'
    'name': 'keyword.operator.m'
  },
  {
    'match': '\\-'
    'name': 'keyword.operator.m'
  },
  {
    'match': 'et'
    'name': 'keyword.operator.m'
  },
  {
    'match': 'ou'
    'name': 'keyword.operator.m'
  },
  {
    'match': 'regle'
    'name': 'keyword.control.m'
  },
  {
    'match': 'application'
    'name': 'keyword.control.m'
  },
  {
    'match': 'enchaineur'
    'name': 'keyword.control.m'
  },
  {
    'match': 'alias'
    'name': 'keyword.control.m'
  },
  {
    'match': 'type'
    'name': 'keyword.control.m'
  },
  {
    'match': 'si'
    'name': 'keyword.control.m'
  },
  {
    'match': 'alors'
    'name': 'keyword.control.m'
  },
  {
    'match': 'sinon'
    'name': 'keyword.control.m'
  },
  {
    'match': 'finsi'
    'name': 'keyword.control.m'
  },
  {
    'match': 'pour'
    'name': 'keyword.control.m'
  },
  {
    'match': 'calculee'
    'name': 'keyword.control.m'
  },
  {
    'match': 'saisie'
    'name': 'keyword.control.m'
  },
  {
    'match': 'restituee'
    'name': 'keyword.control.m'
  },
  {
    'match': 'arr'
    'name': 'entity.name.function.m'
  },
  {
    'match': 'inf'
    'name': 'entity.name.function.m'
  },
  {
    'match': 'positif'
    'name': 'entity.name.function.m'
  },
  {
    'match': 'positif_ou_nul'
    'name': 'entity.name.function.m'
  },
  {
    'match': 'present'
    'name': 'entity.name.function.m'
  },
  {
    'match': 'multimax'
    'name': 'entity.name.function.m'
  },
  {
    'match': 'null'
    'name': 'entity.name.function.m'
  },
  {
    'match': 'max'
    'name': 'entity.name.function.m'
  },
  {
    'match': 'min'
    'name': 'entity.name.function.m'
  },
  {
    'match': 'somme'
    'name': 'entity.name.function.m'
  },
]
